@using Core.Models;
@using Core.Resources.Views.CodeMaster;

@model CodeMaster

@{
    Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
    ViewBag.Title = CodeMasterViewResource.Title;
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@CodeMasterViewResource.CreateNew</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.CodeMasterType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CodeMasterType)
                @Html.ValidationMessageFor(model => model.CodeMasterType)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CodeMasterValue, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CodeMasterValue)
                @Html.ValidationMessageFor(model => model.CodeMasterValue)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(CodeMasterViewResource.BackToList, "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
