@using Core.Models;
@using Core.Resources.Views.CodeMaster;

@model CodeMaster

@{
    ViewBag.Title = CodeMasterViewResource.Title;
    Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
}

<h2>@CodeMasterViewResource.Delete</h2>
<p class="error">@ViewBag.ErrorMessage</p>
@if (Model == null)
{
    @Html.ActionLink(CodeMasterViewResource.BackToList, "Index")
}
else
{
    <h3>@CodeMasterViewResource.ConfirmDelete</h3>
    <div>
        <h4>@CodeMaster.GetValue("EditableCode", Model.CodeMasterType, Culture)</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @CodeMasterViewResource.Id
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Id)
            </dd>

            <dt>
                @CodeMasterViewResource.Value
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CodeMasterValue)
            </dd>
        </dl>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="@CodeMasterViewResource.Delete" class="btn btn-default" /> |
                @Html.ActionLink(CodeMasterViewResource.BackToList, "Index", new { codeType = Model.CodeMasterType })
            </div>
        }
    </div>
}