<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - Miền Đất Mới</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="web-header">
        @Html.Partial("_WebHeader")
    </div>

    @*<div class="container body-content">*@
        <div class="web-body">
            <div class="bodyContentTop">
                <!--Searching form-->
                <div class="bodyContentMainSearchingForm col25 topLeftRightBoderRadius">
                    <div class="topLeftRightBoderRadius" style="width: auto; height: 30px; border: 1px solid #333; background-color: #333; text-align: center;">
                        <img src="~/Images/iconHS.png" width="40" /><span style="color: white; line-height: 30px; font-weight: bold;">Công Cụ Tìm Kiếm</span>
                    </div>
                </div>
                <div class="bodyContentSearchRealtyVip col50 topLeftRightBoderRadius">

                </div>
                <div class="bodyContentRealtyVip col25End topLeftRightBoderRadius">

                </div>
                <div class="clear"></div>
            </div>
            <div class="bodyContentBottom">
                @RenderBody()
            </div>
        </div>
        <div class="web-footer">
            @Html.Partial("_WebFooter")
        </div>
    @*</div>*@
    @*@Html.Partial("_Social")*@
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
