<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Miền Đất Mới</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="web-container">
        <div class="web-header">
            <div class="web-logo">
                <img class="web-logo-image" src="~/images/logo.png" alt="Logo" />
            </div>
            <div class="web-top-nav">
                <div class="web-top-nav-1">
                    <div class="web-top-nav-1-1">
                        <div class="btn-group">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                <span class="flag-icon flag-icon-vn web-flag-language"></span>
                                <span class="fa fa-caret-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-toggle">
                                <li><span class="flag-icon flag-icon-us web-flag-language"></span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="web-top-nav-1-2">
                        <i class="fa fa-phone fa-2x"></i>
                        <span class="web-hotline">+84-90-999-99-99</span>
                    </div>
                    <div class="web-top-nav-1-3">
                        <i class="fa fa-comments fa-2x"></i> Hổ trợ trực tuyến
                    </div>
                    <div class="web-top-nav-1-4">
                        <i class="fa fa-pencil fa-2x"></i> Đăng tin bán | Cho thuê
                    </div>
                </div>
                <div class="web-top-nav-2">
                    <div class="web-top-nav-2-1">

                    </div>
                    <div class="web-top-nav-2-2">

                    </div>
                </div>
            </div>
        </div>
        <div class="web-body">
            @RenderBody()
        </div>
        <div class="web-footer">

        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
