<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - Miền Đất Mới</title>
    @Html.Partial("_HeadPartal")
</head>
<body>
    <div class="container body-content">
        <div class="web-header">
            @Html.Partial("_WebHeader")
        </div>
        <div class="web-body">
            <div class="bodyContentTop">
                <!--realty content super vip-->
                <div class="spvContentFrm">
                    @for (int i = 0; i < 5; i++)
                    {
                        <div>
                            <div class="realtyVipImg">
                                <img src="~/Images/vilage2.PNG" />
                            </div>
                            <div class="realtyVipInfo">
                                <span>Đất nền Phú Mỹ, Vạn Phát Hưng, giá tốt, quận 7</span>
                            </div>
                        </div>
                    }
                </div>
                <div class="clear"></div>
                <!--Searching form-->
                <div class="outerFrame">
                    <div class="innerFrame">
                        <div class="contentLeft">
                            @RenderBody()
                        </div>
                        <div class="contentRight">
                            <div>
                                <input type="text" class="fullBoderRadius" placeholder="Nhập từ khóa để tìm theo cụm từ" />
                                <div class="button fullBoderRadius"><i class="fa fa-search"></i></div>
                            </div>

                            <div id="tabsSearch">
                                <ul>
                                    <li><a href="#tabs-1">Nhà đất bán</a></li>
                                    <li><a href="#tabs-2">Nhà đất cho thuê</a></li>
                                    <li><a href="#tabs-3">Nhà đất mua</a></li>
                                    <li><a href="#tabs-4">Nhà đất thuê</a></li>
                                </ul>
                                <div id="tabs-1">
                                    @Html.Partial("_RealtySearchContent")
                                </div>
                                <div id="tabs-2">
                                    @Html.Partial("_RealtySearchContent")
                                </div>
                                <div id="tabs-3">
                                    @Html.Partial("_RealtySearchContent")
                                </div>
                                <div id="tabs-4">
                                    @Html.Partial("_RealtySearchContent")
                                </div>
                            </div>

                        </div>
                        <div class="contentRight">
                            <div class="advForm" style="">

                            </div>
                        </div>

                        <div class="contentRight">
                            <div class="advForm" style="">

                            </div>
                        </div>
                        <div class="contentRight">
                            <div class="advForm" style="">

                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            @*<div class="bodyContentBottom">
                </div>*@
        </div>
        <div class="web-footer">
            @Html.Partial("_WebFooter")
        </div>
    </div>
    @Html.Partial("_Social")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
