<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - Miền Đất Mới</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/icon")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">
        <div class="web-header">
            @Html.Partial("_WebHeader")
        </div>
        <div class="web-body">
            <div class="bodyContentTop">
                <!--realty content super vip-->
                <div class="spvContentFrm fullBoderRadius">
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="clear"></div>
                <!--Searching form-->
                <div class="bodyContentMainSearchingForm col25 topLeftRightBoderRadius">
                    <div class="searchHeader topLeftRightBoderRadius">
                        <img src="~/Images/iconHS.png" width="40" class="icon" alt="SearchHouseIcon" />
                        <span>Công Cụ Tìm Kiếm</span>
                    </div>
                </div>
                <div class="bodyContentSearchRealtyVip col50 topLeftRightBoderRadius">
                    <div class="realtySearchField">
                        <input type="text" class="fullBoderRadius" placeholder="Nhập từ khóa để tìm theo cụm từ" />
                        <div class="button fullBoderRadius"><i class="fa fa-search"></i></div>
                    </div>
                </div>
                <div class="bodyContentRealtyVip col25End topLeftRightBoderRadius">
                    <div class="realyVipInfo topLeftRightBoderRadius">
                        <span>Bất Động Sản Siêu Vip</span>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="bodyContentBottom">
                @RenderBody()
            </div>
        </div>
        <div class="web-footer">
            @Html.Partial("_WebFooter")
        </div>
    </div>
    @*@Html.Partial("_Social")*@
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
